@{
    ViewBag.Title = "Home Page";
}


<div class="flex-container">
    <div><img src="~/Content/images/card.jpg" alt="card"><a href="~/Product/GreetingCards" class="btn"><p>Greeting Cards</p></a></div>
    <div><img src="~/Content/images/notebook.jpg" alt="notebook"><a href="~/Product/Notebook" class="btn"><p>Notebook</p></a></div>
</div>
<div class="flex-container">
    <div><img src="~/Content/images/stationery.jpg" alt="stationery"><a href="~/Product/Stationery" class="btn"><p>Stationery</p></a></div>
    <div><img src="~/Content/images/easterGifts.jpg" alt="easterGifts"><a href="~/Product/EasterGifts" class="btn"><p>Easter Gifts</p></a></div>
</div>
<div class="flex-container">
    <div><img src="~/Content/images/bathBody.jpg" alt="bathBody"><a href="~/Product/BathBody" class="btn"><p>Bath & Body</p></a></div>
    <div><img src="~/Content/images/candles.jpg" alt="candles"><a href="~/Product/Candles" class="btn"><p>Candles</p></a></div>
</div>
