
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div class="flex-container" style="padding: 60px 0px;">
    <div>
        <img src="~/Content/images/customers.png" alt="customers"><br />
        <b><a href="/Admin/SearchCustomers">Customers</a></b>
    </div>
    <div>
        <img src="~/Content/images/products.png" alt="products"><br /><br />
        <b><a href="/Admin/SearchProducts">Products</a></b>
    </div>
    <div>
        <img src="~/Content/images/orders.png" alt="orders"><br /><br /><br />
        <b><a href="/Admin/SearchOrders">Orders</a></b>
    </div>
</div>
